<div class="container about">
    <h1 class="line-through text-center">За нас</h1>
    <div class="row">
        <div class="col-md-6">
        	<p>Когато през 2003 година в Република Сърбия учредихме верига дрогерии Лили искахме само едно: да предоставим на нашите клиенти най-качествената козметика, средства за поддържане на лична хигиена, продукти за деца и детски храни, бебешки продукти, хранителни добавки, парфюми и битова химия и се посветихме на осъществяването на това си желание.</p>

            <p>Верига Лили Дрогерие работи на територията на България от началото на 2010 година. Към момента Лили Дрогерие България оперира на територията на страната с над 70 магазина, като всяка година броя на обектите се увеличава. Целта ни е да сме все по-близо до нашите клиенти.</p>

            <p>През 2013 година Lilly Drogerie в Сърбия отбеляза десет години успешна работа!</p>

            <p>Веригата е изключително широко представена в Република Сърбия, където до момента 140 дрогерии посрещат и облужват клиенти всеки ден. Присъствието ни и в България и в Сърбия доказва, че клиентите ни са открили при нас онова, което търсят. Тяхното доверие е и най-добрата препоръка, която можем да си пожелаем. Ако към това добавите нашата всеотдайност при задоволяването на желанията на клиентите, честите промоции с атрактивни цени и отличните услуги, става ясно защо верига дрогерии Лили обслужва стотици клиенти всеки ден на територията на България и Сърбия.</p>
            <img class="img-responsive" src="/img/lilly-drogerie-3.jpg">
            
        </div>
        
        <div class="col-md-6">
        	<img class="img-responsive" src="\img\gallery\lilly-opening.jpg">
            <p style="margin-top: 40px;">И винаги се стремим да изпълним поне още едно желание!</p>

            <p>За да предложим повече на пазара, започнахме и собствено производство на високо качествени продукти на натурална основа, които се характеризират с отлично качество и разумни цени.</p>

            <p>В сътрудничество с водещи дерматолози и фармацевти разработихме богат асортимент от продукти SOLEVITA, VELNEA, LILLY, Mamma&amp;Baby, Watte &amp; Watte, Moe 28 и други, които може да намерите във всеки наш обект.</p> 
            <p>Днес в дрогерии Lilly работят над 1 500 души в съответствие с ISO стандартите за качество.</p>

            <p>Тази година Lilly Drogerie ще отбележи 6 години успешна работа на българския пазар. Успехът е резултат на изпълненото желание от началото на тази история и на Вашето доверие през годините.</p>

            <p>Ще се стараем да изпълняваме и всички Ваши бъдещи желания.</p>
        </div>
    </div>
    
</div>