<div class="container careers">
	<h1 class="line-through text-center">Работа за продавач-консултант</h1>
	<div class="row">
        <div class="col-md-6">
			<p>"Лили Дрогерие" ЕООД оперира успешно на територията на България от началото на 2010 година. За 7 години успяхме да се превърнем в една от най-разпознаваемите вериги за козметика и битова химия с над 70 магазина в цялата старана. Веригата е изключително широко представена и в Република Сърбия, където до момента функционират над 180 дрогерии. Компанията има за цел да предлага на своите клиенти богат асортимент от стоки и качествено обслужване.</p>

			<p>Верига магазини "Лили Дрогерие" ЕООД търси да присъедини към своя екип ПРОДАВАЧ-КОНСУЛТАНТИ на територията на град София.</p>

			<p>Вие сте подходящ кандидат, ако притежавате:</p>
			<ul>
				<li>завършено средно образование;</li>
				<li>умение за работа в екип;</li>
				<li>гъвкавост, инициативност, енергичност;</li>
				<li>отговорно отношение към работните задължения;</li>
				<li>добри комуникативни умения;</li>
				<li>ориентираност към клиентите и желание за постигане на високи резултати;</li>
				<li>предварителен опит на подобна позиция ще се счита за предимство.</li>
			</ul>
			<p>Ние предлагаме:</p>
			<ul>
				<li>атрактивно възнаграждение;</li>
				<li>отлична бонусна система и възможност за ежемесечно финансово стимулиране; </li>
				<li>допълнителна отстъпка за пазаруване в търговските ни обекти;</li>
				<li>трудов договор според Българското законодателство;</li>
				<li>фирмено обучение;</li>
				<li>гъвкаво работно време;</li>
				<li>възможност за израстване в компанията.</li>
			</ul>
		</div>
		<div class="col-md-6">
			<img class="img-responsive img-center" src="/img/zaposlenje.jpg">

			<p style="margin-top: 50px;">Ако търсите работа в динамична и бързо развиваща се компания, ако имате жажда за придобиване на нови знания и практически опит, кандидатствайте при нас. Станете част от голямото семейство на Лили!</p>

			<p style="margin-top: 60px;"><strong>Изпратете Вашата автобиография на следния адрес: <a href="">office@lillydrogerie.bg</a> на вниманието на Ивелина Димитрова, като посочите локацията, за която кандидатствате.</strong></p>
			<p>Всички кандидатури ще бъдат разгледани при пълна конфиденциалност, съгласно ЗЗЛД и ще бъдат използвани единствено за подбор на персонал. Само одобрените по документи кандидати ще бъдат поканени на интервю.</p>
		</div>
	</div>
</div>