<div class="row push-down">
	<img src="@|top_banner|@" alt="" class="img-responsive">
</div>
<div class="container">
	<div class="contacts row push-up">
		<div class="contact-form col-md-6">
			<h3 class="line-through contacts text-center">Свържете се с нас!</h3>
			<form class="form-control">
				<input type="text" name="person-name" placeholder="@|person_name|@">
				<div class="row">
					<div class="col-md-6">
						<input type="text" name="person-email" placeholder="@|person_email|@">
					</div>
					<div class="col-md-6">
						<input type="text" name="person-phone" placeholder="@|person_phone|@">
					</div>
				</div>
				<input type="text" name="subject" placeholder="@|subject|@">
				<textarea class="form-control" placeholder="@|message|@"></textarea>
				<div class="form-group text-center">
					<button class="btn lilly-btn">Изпрати</button>
				</div>
			</form>
		</div>
		<div class="contact-details col-md-6">
			<div class="description">
				<p>Стараем се да отговорим на Вашите запитвания и писма в срок от три работни дни. Моля, имайте предвид, че при	голям брой писма този срок може да бъде удължен.</p>
				<p>Ако желаете да ни напишете писмо, можете да го изпратите на адреса по-долу. Желателно е да споменете към кой отдел се отнася писмото Ви.</p>
			</div>
			<div class="address">
				<i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
				<h4>Адрес:</h4>
				<p>@|contactAddress|@</p>
			</div>
			<div class="phone">
				<i class="fa fa-phone fa-2x" aria-hidden="true"></i>
				<h4>Телефон за връзка:</h4>
				<p><a href="">@|contactPhone|@</a></p>
			</div>
			<div class="email">
				<i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
				<h4>E-mail:</h4>
				<p><a href="">@|contactEmail|@</a></p>
			</div>
		</div>
	</div>
</div>