<div class="container">
	<h1 class="line-through text-center">Често задавани въпроси</h1>
	<button class="accordion">Възможно ли е плащането с карта в обектите на Лили?</button>
	<div class="panel"><p>Разбира се, всички магазини на Лили Дрогерие са оборудвани с ПОС терминали. Плащане може да извърши с карти DINERS, VISA ELECTRON, VISA, MAESTRO, MASTERS, DINACARD, AMERICAN EXPRESS.</p></div>

	<button class="accordion">Има ли възможност за закупуване на ваучери за подарък?</button>
	<div class="panel"><p>Съвсем скоро тази услуга ще бъде достъпна във всички обекти на Лили. Информация за пускането на услгата в действие ще бъде публикувана на сайта на веригата.</p></div>

	<button class="accordion">Как мога да бъда винаги в течение на промоциите, акциите и различните специални предложения в Лили?</button>
	<div class="panel"><p>Най-лесният и достъпен начин за редовно получаване на тази информация е да станете част от нашата база данни. За тази цел трябва да се регистрирате на сайта ни, а ние ще Ви изпращаме информация за всички текущи и предстоящи промоции и активности директно на подадения от Вас електронен адрес. За безплатна регистрация и съответно за отказване от такава, натиснете тук.</p></div> <!-- TODO: SUBSCRIBE TO NEWSLETTER -->
	<button class="accordion">В какъв формат мога да разглеждам списанието и каталога на Лили?</button>
	<div class="panel"><p>Лили списание и Лили каталог са във формат PDF, който можете да отворите с помощта на програмата <a href="https://get.adobe.com/reader/">Adobe Reader</a> или с която и да било друга програма, която може да отвори документ във формат PDF. Съществуват и алтернативни програми за отваряне на такива документи, между които можете да изберете.</p></div>

	<button class="accordion">Как мога да направя рекламация?</button class="accordion">
	<div class="panel"><p>Най-лесният начин за това е да се обърнете към персонала в обекта, където сте закупили съответната стока. Също така можете да свържете с нас чрез електронен формуляр за рекламация, който можете да намерите в <a _href="/refund">Рекламации</a>.</p></div>
</div>

