<div class="image-fullscreen">
	<!-- <img class="img-responsive"> -->
	<div id="image-close"><span class="glyphicon glyphicon-remove"></span><p>затвори</p></div>
	<div id="image-prev"><span class="glyphicon glyphicon-chevron-left"></span></div>
	<img class="img-responsive center">
	<div id="image-next"><span class="glyphicon glyphicon-chevron-right"></span></div>
</div>

<div class="container">
	<div class="row thumbnails">
		<h3 class="col-xs-12 line-through text-center">Галерия</h3>
		<div data-bi-for="images">
			<div class="col-md-1">
				<img class="img-responsive thumbnail" src="@|imgSrc|@">
			</div>
		</div>
	</div>
</div>
