<div class="container">

	<h1 class="line-through text-center" style="margin-bottom: 50px;">Условия за притежание на карта Lilly Club</h1>
	<div class="row">
		<div class="conditions col-md-12">
			<div class="row">
				<div class="col-md-6" style="margin-right: 15px;">
					<img src="img/loyalty/lilly-loyalty-card.jpg" class="img-responsive">
				</div>
			
			<ol type="I">
				<li>
						<h3>КАКВИ СА ПОЛЗИТЕ ЗА ВАС ОТ ПРИТЕЖАВАНЕТО НА КАРТА ЗА ЛОЯЛНОСТ НА ЛИЛИ ДРОГЕРИЕ?</h3>
						<p>Карта за лоялност на Лили Дрогерие Ви дава възможност да получавате отстъпка при всяко пазаруване в магазините
							и да събирате Цветенца (кредити), които да използвате, когато желаете при някое от следващите Ви пазарувания в
							Лили Дрогерие. Една карта заменя всички останали!
							Карта за лоялност на Лили Дрогерие Ви дава възможност да получавате отстъпка при всяко пазаруване в магазините и
							да събирате Цветенца (кредити), които да използвате, когато желаете при някое от следващите Ви пазарувания в Лили
							Дрогерие. Една карта заменя всички останали!
						</p>
						<ul>
							<li>Персонална карта, един собственик (клиент) – карта за доверие и лоялност;</li>
							<li>SMS и E-Mail уведомления;</li>
							<li>С всяка покупка Вие събирате определен брой Цветенца във Вашата карта;</li>
							<li>Достъп до промоциите за членове на Mamma &amp; Baby Club;</li>
						</ul>
						<h4>Как мога да получа Карта за лоялност на Лили Дрогерие?</h4>
						<p>Карта за лоялност може да получите във всеки обект на Лили Дрогерие след попълването на хартиен формуляр или
							онлайн на сайта или чрез мобилно приложение на Лили Дрогерие, в който задължителните полета са отбелязани със
							(*). Какво получавам като притежател на Карта за лоялност на Лили Дрогерие?</p>

						<p>Картата за Лоялност на Лили Дрогерие Ви дава възможност при всяка покупка да получите Цветенца, като всяко
							Цветенце Ви носи 1 стотинка във Вашата лична сметка.</p>

						<p>Необходимо е при всяко пазаруване да предоставяте Вашата карта за лоялност, която да се маркира на касата в
							обекта, за да се отчете покупката и да се прибавят в картата събраните от покупката Цветенца.</p>
				</li>
				</ol>
				<div class="col-md-6">
					<img src="/img/misc/girl-card.jpg" class="img-responsive pull-right">
				</div>	
				<ol type="I">
				<li>				
					<h3>НАЧИНИ ЗА ПОЛУЧАВАНЕ НА ЦВЕТЕНЦА</h3>
					<p>Всеки месец има избрани над 200 продукта, при покупката на които с Карта за лоялност може да получите
						значителен брой Цветенца. Тези продукти ще бъдат маркирани в обектите със специален уоблер. За всяка индивидуална
						покупка на стойност над 15 лева с ДДС ще получите равностойността на 0,5% от сумата в Цветенца на Вашата
						виртуална сметка по Картата за лоялност на Лили Дрогерие.</p>

					<p>В случай че сумата на всички покупки в рамките на един календарен месец е равна или повече от 200 лева с ДДС,
						ще получите равностойността на 2% от сумата в Цветенца на Вашата виртуална сметка по Картата за лоялност на Лили
						Дрогерие.</p>

					<p>При закръгляване на сумата от отстъпката се закръглява към по-малкото число. Събраната сума по карта от
						Цветенца не може да се заменя за пари. Тя може да бъде използвана само при плащане на направени покупки в
						обектите на Лили Дрогерие.</p>

					<p>Колкото повече и по-често пазарувате в обектите на Лили Дрогерие, толкова повече Цветенца ще събирате, защото
						постигането на всяко следващо ниво натрупва върху вече събраните от предишното ниво Цветенца.</p>

					<p>Всички събрани Цветенца чрез пазаруване в обектите на Лили Дрогерие ще бъдат отразени във виртуалната сметка по
						Вашата карта за лоялност до 24 часа след извършено пазаруване.</p>

					<h4>Как мога да използвам събраните Цветенца?</h4>
					<p>Вашите събрани Цветенца можете да използвате при пазаруване във всеки обект на Лили Дрогерие, като заплатите
						изцяло или частично за направените покупки със събраните вече Цветенца.</p>

					<h4>Как мога да проверя колко Цветенца съм събрал с моята Карта за лоялност?</h4>
					<p>Броя на събраните с Карта за лоялност Цветенца може да проверите във всеки търговски обект на Лили Дрогерие,
						както и в момента на пазаруване и маркиране на Вашата Карта за лоялност.</p>

					<h4>Каква е цената за издаване на Карта за лоялност на Лили Дрогерие?</h4>
					<p>Издаването на Карта за лоялност на Лили Дрогерие е напълно безплатно. В случай че изгубите Вашата карта за
						лоялност и желаете да Ви бъде преиздадена нова, за преиздаването й ще трябва да се разделите с 90 броя от
						събраните до момента Цветенца във Вашата виртуална сметка.</p>

					<h4>Какво да направя, ако вече имам карта по програмата Mamma &amp; Baby Club?</h4>
					<p>Ако желаете, може да замените картата по програмата Mamma &amp; Baby Club с Карта за лоялност на Лили Дрогерие,
						защото тя Ви дава много повече предимства.</p>

					<p>Mamma &amp; Baby Club на Лили Дрогерие Ви помага в грижите за здравето и щастливото отглеждане на Вашите деца.
						Програмата Mamma &amp; Baby Club е създадена, за да Ви улесни в набавянето на всички необходими неща в грижата за
						Вашето бебе. Повече информация за програмата може да намерите <a _href="/mb-conditions">тук</a>.</p>
					<!-- TODO: fix link - doesnt work -->
					<h4>Вече притежавам Карта за лоялност на Лили Дрогерие, как мога да се присъединя към програмата Mamma &amp; Baby
						Club, ако отговарям на всички условия?</h4>
					<p>Необходимо е да се удостовери и да се попълнят данните на детето във формуляра.</p>
				</li>
				<li>
					<h3>КАРТА ЗА ЛОЯЛНИ КЛИЕНТИ НА „ЛИЛИ ДРОГЕРИЕ“ ЕООД</h3>
					<ol>
						<li>„Лили Дрогерие” ЕООД, регистрирано в Търговския регистър с ЕИК 201035329, със седалище и адрес на управление:
							гр. София, район Триадица, ул. „Иван Денкоглу” № 26, ет. 2, представлявано от управителя Боян Велагич
							(„Дружеството”), издава Карта за лоялни клиенти на Лили Дрогерие (наричана по-долу „Карта за лоялни клиенти”).</li>
						<li>Всяко пълнолетно физическо лице, което попълни писмено заявление за членство на хартиен носител по образец
							(наричано „Писмено заявление за членство”) или Електронно заявление за членство на сайта www.lillydrogerie.bgи
							предостави всички необходими данни от свое име или вкачеството си на родител /законен представител/ попечител на
							дете, чиито данни са вписани в писмено заявление за членство по образец (наричан „Ползвател на Карта за лоялни
							клиенти”), получава Карта за лоялни клиенти, като приема и дава изричното си съгласие с Общите условия за
							ползване на Картата за лоялни клиенти.</li>
						<li>Картата за лоялни клиенти може да бъде получена и използвана във всеки един търговски обект за продажби на
							дребно на Лили Дрогерие на територията на Република България.</li>
						<li>Лили Дрогерие е собственик на Картата за лоялни клиенти и си запазва правото във всеки един момент да изтегли
							от употреба Картата за лоялни клиенти, както и частично и/или изцяло да промени Общите условия за ползване на
							Картата за лоялни клиенти, като се задължава да информира клиентите си за това, като постави писмени съобщения
							във всеки един търговски обект за продажби на дребно на Лили Дрогерие и/или на сайта на Лили Дрогерие.</li>
						<li>Картата за лоялни клиенти може да се използва само от регистриран потребител. В качеството си на издател на
							Картата за лоялни клиенти Лили Дрогерие си запазва правото по всяко време да проверява самоличността на
							Ползвателя на Картата за лоялни клиенти.</li>
						<li>С тези Общи условия се уреждат и правилата за участие на Картата за лоялни клиенти в програмата на Mamma
							&amp; Baby Club (Общи условия за участие в програмата на Mamma &amp; Baby Club са публикувани на интернет
							страницата на Дружеството), предназначена за всички деца и техните законни представители/ попечители.</li>
						<li>Ползвателят на Картата за лоялни клиенти има право да използва „Бонус схеми“, които предоставят отстъпки при
							закупуването на определени артикули, чрез събирането на бонус точки (наричани „Цветенца“), като начинът на
							събирането, използването и валидността им, както и всяка друга информация, свързана с условията за използването
							на Картата за лоялни клиенти, са описани подробно на сайта www.lillydrogerie.bg, както и в рекламните материали
							във всички търговски обекти за продажба на дребно на Лили Дрогерие.</li>
						<li>В случай че Ползвателят на Картата за лоялни клиенти е попълнил електронно заявление за членство на сайта
							www.lillydrogerie.bg, той ще получи своята Карта за лоялни клиенти, като покаже баркода, получен на
							авторизирания електронен адрес на Ползвателя на Картата за лоялни клиенти.</li>
						<li>Срокът за използване на натрупаните „Цветенца“ в картата е 6 (шест) месеца от датата на покупката, с която са
							получени. Всяко Цветенце, неизползвано за покупки в търговски обект за продажба на дребно на Лили Дрогерие в
							срок до 6 (шест) месеца от датата на покупката, с която е получено, се заличава от личната виртуална сметка на
							Потребителя и не може да бъде използвано за последващи покупки с Картата.</li>
						<li>С цел предотвратяване на злоупотреби при ползването на Картата за лоялни клиенти, Лили Дрогерие има право да
							предприеме мерки за безопасност под формата на ограничаване на броя транзакции, които могат да бъдат реализирани
							с Картата за лоялни клиенти при определени критерии (брой покупки, стойност на покупките, артикулите и др.) на
							дневно/месечно равнище, както и на максимално позволения размер на осъществените транзакции с Картата за лоялни
							клиенти в определен времеви период. Всички критерии за прилагане на ограничения при ползването на Картата за
							лоялни клиенти са публикувани на страницата.</li>
						<li>Ползвателят на Картата за лоялни клиенти е задължен да заяви за изгубена/открадната/повредена Карта за лоялни
							клиенти в кол центъра на номер 02 413 88 88, всеки работен ден от 9:00 до 17:30 часа. Лили Дрогерие си запазва
							правото в тези случаи да таксува преиздаването на Картата за лоялни клиенти с 90 броя Цветенца от личната сметка
							на Ползвателя.</li>
						<li>Ползвателят на Картата за лоялни клиенти може да отправя рекламации и въпроси, свързани с използването на
							Картата за лоялни клиенти, на номер: 02 413 88 88, всеки работен ден от 9:00 до 17:30 часа.</li>
						<li>Всяко неправомерно използване, копиране или злоупотреба с издадена и получена Карта за лоялни клиенти има за
							последица отнемането на Картата за лоялни клиенти от притежателя й и невъзможност за преиздаването на нова Карта
							за лоялни клиенти на същото лице.</li>
						<li>Ползвателят на Картата за лоялни клиенти приема Общите условия за ползване на Картата за лоялни клиенти
							доброволно, без принуда, заплаха и заблуда и срещу волята си, което удостоверява със собственоръчния си подпис /
							потвърждение в Писменото / Електронното заявление за членство и под Общите условия за ползване на Картата за
							лоялни клиенти.</li>
						<li>Спорове между Дружеството и Ползвателите на Картата за лоялни клиенти се решават по взаимна договорка. При
							невъзможност за постигане на такава спорът се решава от компетентните съдилища в Република България.</li>
						<li>Настоящите Общи условия за ползване на Картата за лоялни клиенти влизат в сила на 15.09.2018 г.</li>
					</ol>
				</li>
			</ol>
			</div>
		</div>
	</div>
</div>