<div class="container">

	<div class="row">
		<div class="col-xs-12">
			<h1 class="line-through text-center" style="margin-bottom: 70px;">Условия за участие в Mamma&amp;Baby Club</h1>
			<table class="table">
				<thead>
					<tr>
						<th>Период</th>
						<th>Намаление</th>
						<th>Подарък</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>6 месеца</td>
						<td>5%-15%</td>
						<td>Пелени</td>
					</tr>
					<tr>
						<td>1 година</td>
						<td>16%-25%</td>
						<td>Бебешка играчка</td>
					</tr>
					<tr>
						<td>2 година</td>
						<td>25%-50%</td>
						<td>Бебешко столче</td>
					</tr>
				</tbody>
			</table>
			<h4>Какво е предимството да стана член на програмата?</h4>

			<p>Пазаруването с карта Lilly Club, в която са включени промоциите от Mamma&amp;Baby Club осигурява още
				по-атрактивни цени и предложения за бебешки продукти на семействата с бебета и малки деца. Mamma&amp;Baby Club дава
				възможност да пазарувате на по-ниски цени и едновременно с това да се наслаждавате на всяко посещение в Lilly
				Drogerie.</p>

			<h4>Как да се присъединя към клуба?</h4>

			<p>За да станете член на лоялната програма Mamma&amp;Baby Club е необходимо:
				<ul>
					<li>Да попълните формуляр-заявление за участие в програмата Lilly Loyalty Club, където да въведете данни и в
						специалните полета за участие в Mamma&amp;Baby Club, който можете да получите от всеки обект на Lilly Drogerie.</li>

					<li>Да предадете попълнения формуляр на касата и да получите веднага своята карта Lilly Club. От промоциите
						Mamma&amp;Baby Club можете да се възползвате 24 часа след издаването на картата Lilly Club, без събота и неделя,
						както и официалните почивни дни. Ако заявлението е подадено в петък, промоциите Mamma&amp;Baby Club ще можете да
						използвате в понеделник.</li>
				</ul>
				<h4>Колко време след подаване на заявлението за участие в програмата ще мога да се възползвам от специалните
					предложения на Mamma&amp;Baby Club?</h4>

				<p>От промоциите Mamma&amp;Baby Club можете да се възползвате 24 часа след издаването на картата Lilly Club, без
					събота и неделя, както и официалните почивни дни. Ако заявлението е подадено в петък, промоциите Mamma&amp;Baby
					Club ще можете да използвате в понеделник.</p>

				<h4>Какво да правя, ако искам да стана член на Mamma&amp;Baby Club и вече имам издадена карта Lilly Club?</h4>

				<p>Можете да отидете до касата на най-удобния за вас магазин Lilly Drogerie и там да заявите участие в
					Mamma&amp;Baby Club, като предоставите данните на детето. Не се попълва нов формуляр.</p>

				<p>Ако не сте били член на Mamma&amp;Baby Club до сега, ще получите подарък пелени.</p>

				<h4>Какво да правя, ако имам стара карта Mamma&amp;Baby Club и тя все още е активна?</h4>

				<p>Това означава, че детето ви все още е под 3 години и трябва да замените старата пластика с нова карта Lilly Club
					(ако все още нямате такава). За целта е нужно да попълните заявление и да добавите данните на детето.</p>

				<p>След активиране на карта Lilly Club, старата карта Mamma&amp;Baby Club ще бъде активна до 24 ч., след което
					можете да използвате само Lilly Club.</p>

				<h4>Какво да правя, ако имам стара карта Mamma&amp;Baby Club, която при маркиране е невалидна?</h4>

				<p>Това означава, че Вашето дете е на повече от 3 години и вече не отговаря на условията за членство.</p>

				<p>Ако това не е така, трябва да предоставите документ, който доказва, че детето е до 3 години. Това може да е
					копие от акта за раждане, който е нужно само да покажете, без да оставяте в обекта.</p>

				<h4>Какво да очаквам, когато участвам в Mamma&amp;Baby Club?</h4>

				<p>Всеки член на програмата Mamma&amp;Baby Club има възможност да се възползва от специални цени на определени
					продукти за бебето всеки месец.</p>

				<p>Освен това, всеки нов член получава подарък за „Добре дошли“ в Mamma&amp;Baby Club - пакет с пелени.</p>

				<h4>Как да ползвам картата за лоялност и как да разбера кои продукти са със специални цени за членовете на лоялната
					програма?</h4>

				<p>Всеки член на Mamma&amp;Baby Club има възможност всеки месец да закупува на специални преференциални цени
					продукти, които участват в промоцията по програмата Mamma&amp;Baby Club. Отстъпките се получават срещу
					предоставянето на карта за лоялност Lilly Loyalty Club.</p>

				<p>Информация за продуктите със специално предложение за членовете на програмата за конкретния месец може да бъде
					намерена на място в обектите Lilly Drogerie, на уеб сайта на Lilly Drogerie, както и в ежемесечната брошура,
					издавана от Lilly Drogerie.</p>

				<p>При желание, всеки член на лоялната програма може да получава и електронен бюлетин, в който са посочени всички
					артикули със специална цена за членовете на програмата.</p>

				<p>Очакваме ви,</p>

				<p>Екипът на Lilly Drogerie</p>
		</div>
	</div>
</div>