<div class="popup-container">
	<div class="row">
		<div class="popup-header clearfix col-xs-12">
			<h2 class="pull-left">|::|TITLE|::|</h2>
			<button class="cls-btn pull-right"  data-bi-trigger="close"><span data-bi-trigger="close" class="glyphicon glyphicon-remove"></span></button>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12 text-center">
			<h5>|::|SubTitle|::|</h5>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<img src="|::|IMAGE_PATH|::|" class="img-responsive img-thumbnail">
		</div>
		<div class="col-md-8">
			<p class="text-indent">
				|::|Content|::|
			</p>
		</div>
	</div>
	<hr>
	<div class="row text-center">
		<div class="col-xs-12">
			|::|BUTTON|::|
		</div>
	</div>
</div>