<div class="container policy">
	<h1 class="line-through text-center" style="margin-bottom: 70px;">Политика за поверителност на данните</h1>
	<h3><b>Информация за нас</b></h3>
		<p>„Лили Дрогерие“ ЕООД (за краткост по-долу „Лили“ и/или „Администратор“), е дружество, регистрирано в Търговския регистър на Агенцията по вписванията с ЕИК 201035329, със седалище и адрес на управление: гр. София 1000, ул. „Иван Денкоглу“ № 26, ет. 2, Тел: 02/ 987 98 91; e-mail: <a href="mailto:office@lillydrogerie.bg">office@lillydrogerie.bg</a></p>

	<h3><b>Контактите на нашето Длъжностно лице по защита на данните са:</b></h3>
		<p>Длъжностно лице по защита на личните данни: Нина Владимирова
			<br>Тел: +359 899 876 782
			<br>Email: <a href="mailto:dpo@lillydrogerie.bg">dpo@lillydrogerie.bg</a>
		</p>
	<h3><b>Нашето отношение към Вашите лични данни</b></h3>
		<p>Лили отдава голямо значение на защитата на личните данни и събира и обработва лични данни само при спазване на изискванията на местното и европейското законодателство. Целта на настоящата „Политика за защита на личните данни“ е да бъдете информирани как обработваме Вашите данни и какви лични данни бихме събрали за Вас, с каква цел, срок и респ. какви са Вашите права.
		</p>
		<p>Сигурността на данните, които сте ни поверили е много важна за нас. Ето защо ние защитаваме Вашите данни като прилагаме всички подходящи технически и организационни средства, с които разполагаме, за да не допускаме неразрешен достъп, неразрешено или злонамерено ползване, загуба или преждевременно заличаване на информация.
		</p>
	<h3><b>Каква информация събираме и защо?</b></h3>
		<p>Възможно е да събираме лични данни за Вас, когато използвате Сайта ни или изберете нашите продукти или услуги. В повечето случаи изискваме личните Ви данни за целта на сключване на договор, да спазим законово задължение или да защитим наш законен интерес. В определени случаи обработване данни въз основа на Ваше съгласие.
		</p>
		<p>В зависимост от услугите, които ползвате, може да събираме и обработваме следната информация за Вас:
			<ul style="padding-left: 40px">
				<li>Трите имена, единен граждански номер (за целите на издаване на фактура, при поискване), дата на раждане и пол.</li> 
				<li>Данни за контакт - адрес за контакт, телефонен номер и електронен адрес (имейл);</li>
				<li>Данни на деца (име и дата на раждане) с цел предоставяне на специални промоции и предложения;</li>
				<li>Писма и електронни поща, която получаваме от Вас при комуникацията ни;</li>
				<li>Записи от видео камери с цел осигуряване на нашата и Вашата сигурност;</li>
			</ul>
		</p>
	<h3><b>Целта при обработването на Вашите данни.</b></h3>
	<p>Ние обработваме личните данни, които събираме най-често със следните цели:
		<br>
		<strong>При сключването и изпълнението на договор</strong> - изготвяне на счетоводни документи като сметка или фактура за закупените стоки; осигуряване на комплексно обслужване, вкл. по електронен път; за целта на уведомления, свързани с нашите продукти и услуги;
		<br>
		<strong>При изпълнение на законово задължение</strong> - за целта на задължения, предвидени в Закона за счетоводството и Данъчно-осигурителния процесуален кодекс и други свързани нормативни актове, във връзка с воденето на правилно и законосъобразно счетоводство; при задължения за предоставяне на информация на всички държавни комисии и регулаторни органи, както и съд; при изпълнение на задължения във връзка с продажбата от разстояние, продажбата извън търговския обект, предвидени в Закона за защита на потребителите;
		<br>
		<strong>При съгласие от Ваша страна</strong> - за директен маркетинг за наши продукти и услуги;
		<br>
		<strong>Въз основа на наш законен интерес</strong> - извършване на видеонаблюдение в нашите търговски обекти.
		<br>
	</p>
	<h3><b>С кого споделяме информацията Ви:</b></h3>
		<p>Лили използва трети страни за подпомагане на определени договорни дейности или при изпълнение на законово задължение. Не предоставяме Ваши лични данни на трети лица, преди да сме се уверим, че са взети всички технически и организационни мерки за защита на тези данни като се стремим да осъществяваме строг контрол за изпълнение на тази цел.</p>
		<p>Част от получателите на лични данни могат да бъдат: куриерски фирми, външни консултанти и специалисти, колекторски компании и правни кантори, банки, охранителни фирми, търговски агенти и представители и др.</p>
		<p>Предоставянето на лични данни в някои случаи е задължително, за да спазим наши законови изисквания, като: Регулаторни органи, вкл. държавни комисии, институции и агенции, НАП, НОИ, съдилища, прокуратура, и други, на които сме длъжни да предостави лични данни по силата на действащото законодателство;</p>
	<h3>Употреба на бисквитки на Сайта</b></h3>
		<p>Лили не събира или обработва лични данни чрез функционалните бисквитки, използвани от Компанията.</p>
	<h3><b>Защо и как използваме автоматизирани алгоритми?</b></h3>
		<p>Ние не използваме средства за автоматизирано взимане на решения.</p>

	<h3><b>Сигурност</b></h3>
		<p>Лили взема мерки за защита на личните ви данни от случайна загуба и нерегламентиран достъп, употреба, промяна или оповестяване. Налице са политики и процедури, предназначени да предпазят информацията от загуба, злоупотреба и неправомерно разкриване. Освен това вземаме допълнителни мерки за информационна сигурност, включително контрол на достъпа, строга физическа защита и надеждни практики за събиране, съхранение и обработка на информацията.</p>
		<p>От друга страна, прилагаме технически мерки като криптиране, псевдонимизация и анонимизация на събраните лични данни.</p>
	<h3><b>Кога изтриваме Вашите лични данни?</b></h3>
		<p>Ние съхраняваме цялата информация, която сме събрали за Вас и я унищожаваме в законоуставените срокове, а ако няма такива в сроковете определени от нас (30 дни при видеонаблюдение) и след окончателно уреждане на всички наши финансови отношения. Не пазим Ваши данни безсрочно.</p>
	<h3><b>Прехвърляне между държави</b></h3>
		<p>Трансферът, съхранението и обработката на лични данни е обезпечен със съвременни технически средства. Лили няма да прехвърля данните ви извън рамките на ЕИП без спазване на законовите възможности, като ще въведе подходящи предпазни мерки, за да запази поверителността на Вашата информация.</p>
	<h3><b>Достъп, корекции и оттегляне</b></h3>
		<p>По всяко време можете да поискате от  Лили да Ви предостави информация за личните данни, които са събрани и съхранява за Вас. Можете също така да изискате  Лили да коригира, изтрие или актуализира такива лични данни. Лили осигурява и Вашето право на възражение и ограничаване на обработването на лични данни, както и правата Ви при автоматизирано взимане на решения.</p>
		<p>Можете по всяко време да оттеглите съгласието си за събиране, съхраняване и използване на Вашите лични данни спрямо Лили. Оттеглянето обаче няма да засегне законосъобразно обработените данни до оттеглянето.</p>
		<p>Част от правата Ви, като изтриване на данните или възразяване срещу обработването, могат да бъдат ограничени от действащото законодателство.</p>
		<p>Заявленията за достъп до информация или за корекция се подават лично или от изрично упълномощено от Вас лице, чрез изрично писмено пълномощно. Заявление може да бъде отправено и по електронен път, по реда на Закона за електронния документ и електронния подпис.</p>
		<p>Информираме Ви, че по настоящото законодателство имате право и на жалба за начина, по който се обработват данните ви до надзорния орган Комисия за защита на личните данни, София 1592, бул. „Проф. Цветан Лазаров” № 2 или <a href="http://www.cpdp.bg/">www.cpdp.bg</a>.</p>
	<h3><b>Промени в настоящата Политика за защита на личните данни</b></h3>
		<p>Тази процедура за защита на лична информация може да бъде променяна във времето. Такива промени ще влязат в сила незабавно след тяхното оповестяване. Редовното преглеждане на тази страница Ви гарантира, че винаги ще сте наясно каква информация събираме, как и за какви цели Лили я използва и при какви обстоятелства (ако настъпят такива) ще я споделяме с други страни.</p>
		<p>Ако имате въпроси по отношение защитата на данните, можете да се обърнете към Лили и нашето Длъжностно лице по защита на данните:
		<br>
		Тел.: +359 899 876 782
		<br>
		E-mail: <a href="mailto:dpo@lillydrogerie.bg">dpo@lillydrogerie.bg</a>
		<br>
		Тази Политика за защита на личните данни е актуализирана за последен път на 20.05.2018г.
		</p>
</div>
