<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="line-through text-center">@|title|@</h3>
        </div>
    </div>
    <div class="row">
        <div data-bi-for="shops">
            <div class="col-sm-4">
                <div class="shop-card">
                    <div class="image-holder">
                        <img src="@|thumbnail|@" alt="" class="img-responsive">
                    </div>

                    <h4 class="text-center">@|title|@</h4>
                    <div class="description">
                        <dl class="">
                            <dt>Телефон:</dt>
                            <dd> @|phone|@</dd>
                            <dt>Работно Време:</dt>
                            <dd> @|work_time|@</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>