<div class="container">
	<h1 class="line-through text-center" style="margin-bottom: 70px;">Условия за ползване на сайта</h1>
	<h3>Получавайки достъп до страниците на сайта Вие приемате следните условия:</h3>

	Вашият достъп и използването на сайта www.lillydrogerie.bg (в текста: "сайт") трябва да е съобразено със законовите изисквания и става при посочените тук условия. Ако не сте съгласни с тях или не ги приемате напълно, моля, пишете ни на сайта.

	<h3>Съдържание на сайта</h3>

	Сайтът и неговото съдържание са собственост на компания "Lilly Drogerie АД" (в текста: "Компанията") или на компаниите, с които тя е свързана, като всички права са запазени, освен ако не е посочено друго. Използването на съдържанието без съблюдаване на условията за ползване и писменото съгласие на собственика на съдържанието е строго забранено. Използването на сайта на Lilly Drogerie АД е позволено по следния начин:

	<ul>
		<li>В отделни свои раздели Сайтът моли регистрираните ползватели да предоставят свое съдържание, което ще бъде представено на този и/или други сайтове на Lilly Drogerie АД (в текста: "предоставено съдържание").</li>
		<li>Сайтът може да организира различни кампании, в които Lilly Drogerie АД приканва регистрираните ползватели да предоставят свое съдържание за представяне на този и други управлявани от нея сайтове. Всяко предоставено съдържание трябва да е в съответствие с действащите правила на конкретната кампания.</li>
		<li>При използване на сайта трябва да се придържате към действащите закони и разпоредби. Съдържанието на сайта не може да се разпространява, модифицира, представя-възпроизвежда, продава, копира или използва по какъвто и да било друг начин както и да се прави достъпно на трети лица без писменото съгласие на компанията Lilly Drogerie АД.</li>
		<li>Забранено е публикуването в сайта на материали, които съдържат клевети, обиди, неистини, заплахи, на материали с вулгарен, порнографски и просташки характер или материали, накърняващи правата на личността или такива, които установяват или окуражават поведение, което би било сметнато за криминално престъпление, би довело до гражданска или наказателна отговорност или по друг начин би нарушило закона. Компанията си запазва правото да отстрани такива материали от сайта без предварително да предупреди ползвателя за това.</li>
		<li>Забранено е фалшивото представяне и публикуването на неточна информация във връзка със сайта или от лица, свързани със същия.</li>
		<li>Забранено е ползването на сайта с пропагандна цел.</li>
		<li>Забранено е използването на сайта за продажба на продукти или препоръчване на услуги на ползватели или трети лица.</li>
		<li>Забранено е качването или трансмисията на вируси и всякакви компютърни кодове, файлове и програми, които по какъвто и да било начин могат да навредят или да поемат контрола над сайта или съпътстващото оборудване.</li>
	</ul>
	<h3>Предоставено съдържание</h3>
	
	<ul>
		<li>За всяко предоставено от Вас съдържание, Вие сте съгласни, че Lilly Drogerie АД има правото (но не и задължението) да прецени съдържанието му, преди то да бъде качено на сайта.</li>
		<li>Може да направи всичко или част от посоченото, а именно:
		- да контролира предоставеното съдържание;
		- да разреши, промени или откаже качването му на сайта;
		- да контролира, филтрира и заличава предоставеното съдържание (блокира или променя вредните или несъответстващите съдържания);
		- да направи достъпно предоставеното съдържание на трети лица с цел поддръжка на сайта, защита на Компанията или привеждане в съответствие с правните норми;</li>
	</ul>
	Компанията Lilly Drogerie АД, както и компаниите, с които е свързана, нямат контрол върху нито ще носят отговорност за евентуални щети или злоупотреби, настъпили вследствие действията на трети лица.

	Ако решите да публикувате каквито и да било данни на нашия сайт, то правите това изключително на своя собствена отговорност. 

	<h3>Поверителност</h3>

	Lilly Drogerie АД ще използва всички Ваши лични данни (име, фамилия, адрес, телефонен номер, e-mail) в съответствие с правилата за защита на личните данни. За всички останали съдържания, публикувани от Вас посредством сайта ни под формата на предложения, коментари и др. ще се счита, че не са поверителни и не подлежат на защита. Отговорността за точността на обявените съдържания е изцяло Ваша, а ако сте предоставили неточна, непрецизна или непълна информация, Вие приемате да бъдете отстранен от сайта.

	<h3>Линкове към сайтове на трети лица</h3>

	Сайтът може да съдържа линкове към други сайтове. Те са сложени за улеснение на потребителя и Lilly Drogerie АД не контролира, нито пък носи отговорност за съдържанието им и политиката за поверителност, затова се отказва и да носи каквато и да било отговорност, в случай че тези сайтове: 
	 - имат непрецизно, неточно или неподходящо съдържание; 
	 - не са безопасни, съдържат вируси или други деструктивни характеристики; 
	 - съдържат клевети и обиди; 
	 - нарушават правото на интелектуалната собственост.

	<h3>Забрана за достъп</h3>

	Вие приемате, че компанията Lilly Drogerie АД по свое усмотрение може да прекрати достъпа Ви или използването на този сайт по всяко време и без да изтъква каквито и да било причини, както и без предизвестие. Също така приемате, че нито компанията Lilly Drogerie АД, нито предприятията, с които е свързана, няма да носят отговорност пред Вас, нито пред което и да било трето лице, заради наложената Ви забрана за достъп до този сайт, или до каквато и да било информация или файлове, нито пък от тях ще се изисква да Ви осигурят достъпа до такава информация или файлове, след подобна забрана.

	<h3>Промяна на условията за ползване</h3>

	Lilly Drogerie АД може по всяко време и без предизвестие да променя или допълва условията за ползване на сайта чрез актуализиране на тази Декларация. Подобни изменения за Вас са задължителни, затова е препоръчително да посещавате тази страница и да се информирате за тях. По-нататъшното използване на каквито и да било услуги на сайта от Ваша страна ще става в съответствие с всички допълнително публикувани правила и условия за ползване.

	<h3>Промени на сайта</h3>

	Lilly Drogerie АД си запазва правото в който и да било момент временно или трайно, изцяло или частично да модифицира или закрие този сайт без предизвестие или да ограничи достъпа до него на определени лица или на определени географски територии. Като ползвател на сайта Вие сте съгласни, че нито нашата компания, нито свързаните с нас компании, носят отговорност за каквито и да било промени и фактът, че продължавате да използвате сайта означава, че приемате промените.

	<h3>Действащо законодателство</h3>

	Условията за ползване на този сайт са съобразени със действащите закони в Република Сърбия и в случай на спор компетентни са съдебните инстанции в Белград, като се прилага правото на Република Сърбия. Ако живеете в друга страна, Условията за ползване и актът на ползване на сайта са съобразени със законите, действащи във Вашата страна.

	Правила на програмата за лоялност, провеждането на анкети, кампании и подобни промоции
	Всички кампании, игри, програми за лоялност и подобни промоции, които са достъпни чрез този сайт, ще се базират на определени правила, отделно от условията за ползване. Участвайки в тях, Вие ще се съобразявате с тези правила, които ще се различават от посочените тук разпоредби и условия.

	<h3>Връзка с ползвателите</h3>

	Ако имате каквито и да било въпроси или забележки във връзка с този сайт, моля, свържете се с нас чрез рубриката "Контакти".

	<h3>Ограничения</h3>

	Не всички услуги трябва да бъдат достъпни на всички лица или на всички географски територии. Участието в игрите и получаването на подаръци в рамките на различни промоции не е възможно за всички потребители. Запазваме си правото да ограничим достъпа до този сайт или предоставянето на каквито и да било услуги на което и да било лице и в географска област по наш избор, по всяко време и по наше усмотрение.
</div>