<div class="row push-down">
        <div class="col-xs-12">
                <a _href="/products/@|category|@" class="btn btn-xs lilly-btn">< Назад</a>
        </div>
</div>
<div class="row">
        <div class="col-md-6 text-center">
                <img src="@|imgSrc|@" alt="" class="img-responsive">
        </div>
        <div class="col-md-6 product-inner">
                <h4 class="xs-title">@|name|@</h4>
                <hr>
                <h4>Цена: @|price|@ лв.</h4>
                <hr>
                <h4 class="text-center line-through"> Детайли</h4>
                <div class="info">
                        <div data-bi-for="detailed">
                                <p><span class="bold">@|name|@ : </span><span>@|measure|@</span></p>
                        </div>
                </div>
        </div>
</div>
<div class="row">
        <div class="col-xs-12">
                <h3 class="text-center line-through"> Описание</h3>
                <p>@|description|@</p>
        </div>
</div>