<div class="row">
        <div class="col-xs-12">
                <h4 class="text-center line-through">@|title|@</h4>
            </div>
</div>
<div class="row">
    <div data-bi-for="productionList">
        <div class="col-md-4 text-center push-down">
            <div class="product-card">
                <a _href="/products/@|category|@/@|id|@" class=" lilly-hover">
                    <div class="thumbnail-container">
                        <img src="@|thumbnail|@" class="products-img img-responsive">
                    </div>
                    <div class="info text-center">
                        <h5 class="text-ellipsed">@|name|@</h5>
                        <p><span class="bold">Цена: </span>@|price|@ лв.</p>
                        <p class="text-dimmed text-ellipsed">@|shortDesc|@</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>