<div class="container">
        <div class="row blog-post-handlers">
                <div class="col-md-8"  data-bi-location="blog">
                    
                </div>
                <div class="col-md-4">
                    <div class="cup-bordered push-down text-center">
                        <h4 class="title"><b>@|sideTitle|@</b></h4>
                        <div class="side-image "><img src="@|sideImage|@" alt="" class="img-responsive"></div>
                        <p class="side-content push-up">
                            @|sideContent|@
                        </p>
                        <div class=" push-up push-down">
                            <a _href="/about-us" class='btn lilly-btn ' >Научи повече</a>
                        </div>
                    </div>
                    <div class="recent push-up push-down">
                        <h4 class='text-center title'>Актуално</h4>
                        <div data-bi-for="recent">
                                <a _href="/blog/@|id|@" class="lilly-hover">
                                    <div class="row push-up" >
                                        <div class="col-sm-4 text-center">
                                            <img src="@|thumbnail|@" class="img-responsive img-circle" alt="">
                                        </div>
                                        <div class="col-sm-8 reset-left-padding">
                                            <h5 class="title">@|title|@</h5>
                                            <p class="text-muted">автор: @|author|@</p>
                                        </div>
                                    </div>
                                </a>
                        </div>
                    </div>
                    <div class="cataloge push-up">
                        <img src="/img/gallery/catalog-add.jpg" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
</div>